node_modules/
.vscode/
__pycache__/
*.log
.DS_Store
data/
mongodb/
*.env
*.sqlite3
.nvm/
.anaconda/
.config/
.Trash/
.npm/
.pyenv/
.anydesk/
.keras/
.mongodb/
.packettracer
.continuum/
.dbclient/
.bash_sessions/
.xonshrc
.zsh_history
.zshrc
.bash_history
.bash_profile
.bash_profile.pysave
.conda/
.condarc
Library/
Desktop/React Project/
Desktop/Smart-Traffic-Management-System/
Desktop/SmartTrafficLight/
Desktop/traffic/
